# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependencias (si usas Node)
node_modules/
package-lock.json

# Archivos temporales
*.tmp
*.temp
